<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1> All the cupcakes</h1>
    <ul class = 'cupcake-list'>
        
    </ul>
    <h2> Add a new cupcake</h2>
    <form class = 'new-cupcake-form'>
        <div>
            <label for ='form-flavor'> flavor:</label>
            <input type = 'text' name = 'flavor' id = 'form-flavor'>
        </div>
        <div>
            <label for ='form-size'> size:</label>
            <input type = 'text' name = 'size' id = 'form-size'>
        </div>
        <div>
            <label for ='form-rating'> rating:</label>
            <input type = 'float' name = 'rating' id = 'form-rating'>
        </div>
        <div>
            <label for ='form-image'> image:</label>
            <input  name = 'image' id = 'form-image'>
        </div>
    </form>
    <script src = "https://unpkg.com/jquery"></script>
    <script src = "https://unpkg.com/axios/dist/axios.jg"></script>
    <script src = '/static/app.js'></script>
</body>
</html>